[Unit]
Description=ComfyUI Backend
After=graphical-session.target

[Service]
Type=simple
WorkingDirectory=%h/AI/ComfyUI
ExecStart=%h/AI/ComfyUI/.venv/bin/python %h/AI/ComfyUI/main.py --disable-pinned-memory --disable-async-offload --disable-smart-memory --disable-dynamic-vram --reserve-vram 0.5Restart=on-always
RestartSec=3

[Install]
WantedBy=default.target
